<div class="center jumbotron">
  <h1><%= t('welcome') %></h1>

  <h2>
   <%= t('greeting_html')%>
  </h2>

  <%= link_to t("signupNow") , signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>