<% provide(:title, t("forgotPassword")) %>
<% provide(:button_text, t("send") ) %>
<h1><%= t("forgotPassword") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label t("email") %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>