<% provide(:title, t("signupNow")) %>
<% provide(:button_text, t("createMyAccount")) %>
<h1><%= t("signupNow") %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>