    <nav class="navbar navbar-default">
    <!-- <div class="container-fluid"> -->  
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= link_to t("sampleApp"), root_path, id: "logo" %></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t("home"), root_path %></li>
            <li><%= link_to t("help"), help_path %></li>
            <% if logged_in? %>
              <li><%= link_to t("usersMenu"), users_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t("account") %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to t("profile"), current_user %></li>
                  <li><%= link_to t("settings"), edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to t("logoutNow"), logout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to t("loginNow"), login_path %></li>
            <% end %>
            <li><%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-HK" %></li>
            <li><%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %></li>
          </ul>
        </div>
    <!-- </div> -->  
    </nav>